:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background-color: rgba(215, 222, 228, 0.8);
  --text-color: rgb(4, 6, 9);
  --background-color-dark-theme: rgba(15, 16, 17, 0.8);
  --text-color-dark-theme: rgb(212, 212, 212);
  --border-color-input:rgb(0, 48, 119);
  --bg-color-button:rgb(0, 48, 119);

}
body {
  background-color: var(--background-color);
  color:var(--border-color-input);
}

